-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "isOnline" BOOLEAN NOT NULL DEFAULT false,
    "scope" TEXT,
    "expires" TIMESTAMP(3),
    "accessToken" TEXT NOT NULL,
    "userId" BIGINT,
    "firstName" TEXT,
    "lastName" TEXT,
    "email" TEXT,
    "accountOwner" BOOLEAN NOT NULL DEFAULT false,
    "locale" TEXT,
    "collaborator" BOOLEAN DEFAULT false,
    "emailVerified" BOOLEAN DEFAULT false,
    "refreshToken" TEXT,
    "refreshTokenExpires" TIMESTAMP(3),

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomerCoinBalance" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "customerId" TEXT NOT NULL,
    "availableCoins" INTEGER NOT NULL DEFAULT 0,
    "reservedCoins" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomerCoinBalance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CoinTransaction" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "customerId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "coins" INTEGER NOT NULL,
    "balanceAfter" INTEGER NOT NULL,
    "orderId" TEXT,
    "orderName" TEXT,
    "productId" TEXT,
    "productTitle" TEXT,
    "transactionKey" TEXT NOT NULL,
    "relatedTransactionId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'COMPLETED',
    "description" TEXT,
    "expiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CoinTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CoinReservation" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "customerId" TEXT NOT NULL,
    "cartToken" TEXT NOT NULL,
    "cartFingerprint" TEXT,
    "coins" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CoinReservation_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "CustomerCoinBalance_shop_idx" ON "CustomerCoinBalance"("shop");

-- CreateIndex
CREATE INDEX "CustomerCoinBalance_customerId_idx" ON "CustomerCoinBalance"("customerId");

-- CreateIndex
CREATE UNIQUE INDEX "CustomerCoinBalance_shop_customerId_key" ON "CustomerCoinBalance"("shop", "customerId");

-- CreateIndex
CREATE UNIQUE INDEX "CoinTransaction_transactionKey_key" ON "CoinTransaction"("transactionKey");

-- CreateIndex
CREATE INDEX "CoinTransaction_shop_customerId_idx" ON "CoinTransaction"("shop", "customerId");

-- CreateIndex
CREATE INDEX "CoinTransaction_shop_orderId_idx" ON "CoinTransaction"("shop", "orderId");

-- CreateIndex
CREATE INDEX "CoinTransaction_shop_customerId_createdAt_idx" ON "CoinTransaction"("shop", "customerId", "createdAt");

-- CreateIndex
CREATE INDEX "CoinTransaction_customerId_orderId_idx" ON "CoinTransaction"("customerId", "orderId");

-- CreateIndex
CREATE INDEX "CoinReservation_shop_customerId_idx" ON "CoinReservation"("shop", "customerId");

-- CreateIndex
CREATE INDEX "CoinReservation_status_expiresAt_idx" ON "CoinReservation"("status", "expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "CoinReservation_shop_cartToken_key" ON "CoinReservation"("shop", "cartToken");

-- AddForeignKey
ALTER TABLE "CoinTransaction" ADD CONSTRAINT "CoinTransaction_shop_customerId_fkey" FOREIGN KEY ("shop", "customerId") REFERENCES "CustomerCoinBalance"("shop", "customerId") ON DELETE RESTRICT ON UPDATE CASCADE;

